<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<!-- Go back and work on this later -->
<body>
    <div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">My Recipes</a></li>
            <li><a href="">All Recipes</a></li>
            <li><a href="">New Recipe</a></li>
            <li><a href="">Draw Your Dish</a></li>
            <li style="float:right"><a href="">Logout</a></li>
        </ul>
    </div>
</body>
</html>